/*
==================
Global Style
==================
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #fff;
	font-family: 'Kulim Park', sans-serif;
	font-size: 16px;

}
.display-none{
    display: none;
}
.display-block{
    display: block;
}
.container-sec{
    width: min(1400px, 100%);
    margin: 0px auto;
}
.container-primary{
    width: min(1200px, 90%);
    margin: 0px auto;
}
ul{
    margin: 0;
    padding: 0;
    list-style:none ;
}
a{
    text-decoration: none;
    color: #C0C0C0;
}
.burger-menu{
    display: none;
}

/*
==================
header-top
==================
*/
.header-top p{
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
}
.header-top p{
    padding-top: 15px;
    font-size: 12px;
}
.header-top span{
    text-decoration: underline;
    
}
/*
==================
header-nav
==================
*/

.d-flex{
    display: flex;
    flex-direction: row;
}
.text-dec{
    text-decoration: none;
    
}
header{
    align-items: flex-end;
    padding: .9em 0;
}
header .logo{
    width: 70px;
    margin-right: 25px;
}
header nav{
    width: 100%;
    justify-content: space-between;
    
}
 nav ul li+li{
     margin-left: 2.5rem;
}
nav ul li a{
    font-size: 10px;
}
.burger-menu{
    padding-right: 10px;
}


.sec-1-img {
    background-image: url("./images/bg-img.jpg");
    height: 570px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.sec-1-img img{

}
.tailoring{
    padding-bottom: 30px;
}
.tailoring-img{
    
    width:100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    
}
.tailoring-img img{
    width: 70px;
}
.tailoring h1{
    text-align: center;
    font-size: 30px;
    padding-bottom: 3rem;
    letter-spacing: .9px;
    font-family: "Cinzel script=latin rev=1";

} 
.tailoring h4{
    text-align: center;
    padding-bottom:3rem ;
    color: peru;
    letter-spacing: .9px;
    font-size: 20px;
   
}
.tailoring p{
    text-align: center;
    padding-bottom: 2rem;
    letter-spacing: .9px;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
    color: #666666;
    
}
/*
==================
cards section
==================
*/
   
.cards{
    overflow: hidden;
    padding-top: 25px;
    height: 600px;
}
.card-1{
    min-width: 250px;
    margin-left: 50px;
    margin-right: 48px;
    
}
.card-1 h5{
    padding-top: 6rem;
    padding-right:3.5rem;
    padding-bottom: 4rem;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}   
.card-1 h6{
    padding-right: 4rem;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: "Poppins', sans-serif";
   
}   
.card-1 hr{
    width: 80%;
    margin-top: .8rem;
}
.card-2, .card-3{
    min-width: 480px;
    border-radius: 10%;
    overflow: hidden;
    height: 550px;
    margin-right: 145px;
    
}
.card-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-3 img{
    width: 100%;
   height: 100%;
   object-fit: cover;
}
/*
=================
CUSTOM SECTION
==================
*/

.custom{
    margin-top: 100px;
}
.main-custom-1{
    border: 5px solid black;
    height: 500px;
    padding: 77px 60px;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: 50px;
}
.main-custom-2{
    border:5px solid black;
    height: 500px;
    padding: 77px 60px;
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 55px;
}
.custom-2{
    width: 50%;
    overflow: hidden;
    text-align: center;
}
.custom-2 img{
   
    width: 100%;
    
}
.custom-2-img{
    
}
.custom-1{
    width: 368px;
}
.text-end{
    text-align: end;
}
.custom-1 a{
    border: 2px solid black;
    font-family: 'FontAwesome';
    display: inline-block;
}
.custom-1 h1{
    padding-bottom: 35px;
    letter-spacing: 1.5px;
    font-size: 26px;
    font-weight: 500;
    font-family: 'FontAwesome';
}
.custom-1 h4{
    padding-bottom: 20px;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: peru;
    font-family: 'Poppins';
}
.custom-1 p {
    line-height: 18px;
    font-size: 16px;
    padding-bottom: 30px;
    width: 370px;
    font-family: 'Poppins', sans-serif;
    color: #666666;
}
.custom-1 a{
    padding: 10px 24px;
    font-size: 15px;
    color: black;
}    

/*
=================
INTERNAL-NAV SECTION
==================
*/

.internal-nav{
    height: 160px;
    border-bottom: solid 2px #808080;
    margin-top: 50px;
    margin-bottom: 50px;
}
.internal-nav ul{
    padding-top: 50px;
    justify-content: space-evenly;
    font-size: 16px;
}
.internal-nav hr{
    margin-top: 20px;
}
.internal-nav ul li:nth-child(1) a{
    color: black;
}


/*
=================
TOUR SECTION
==================
*/

.headings{
    width: 30%;
    padding: 45px 0px;
}
.headings h3{
    font-size: 36px;
    font-weight: 100;
    font-family: 'Poppins';
    line-height: 1;
}

.headings h4{
    font-size: 22px;
    font-weight: 100;
    font-family: 'FontAwesome';
    margin-top: 50px;
}
.headings hr{
    width: 197px;
    height: 3px;
    background-color: #808080;
    margin-top: 10px;
    margin-bottom: 50px;
}

.tour{
    justify-content: space-between;
    
}
.tour-img{
    width: 65%;
}

.tour-img img{
    width: 100%;
    height: 100%;
}
.tour-ul .circle + .circle{
    margin-left: 15px;
    
}
.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inside-dot{
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
}
.inside-dot.active{
    background-color:black;
    z-index: 10;
}
/*
=================
Footer SECTION
==================
*/
.footer{
    margin-top: 100px;
    margin-bottom: 50px;
}
.main-ul{
    width: 52%;
    justify-content: space-between;
    
}
.ul li  {
   
    margin-bottom: 20px;
    color: #666666;
    font-size: 14px;

}

.ul li a{
    color: #666666;
    font-size: 16px;
    border-bottom: solid 1px black;
    
}
.input{
   
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: block;
    width: 100%;
    background-color:#D3D3D3;
    padding-left: 40px;
    color: black;
    border: none;
   
}
.news-letter a{
    border: 2px solid black;
    font-family: 'FontAwesome';
    padding: 16px 70px;
    font-size: 18px;
    color: black;
}
.news-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    
}
.news-letter p{
    font-size: 16px;
    color: #666666;
    font-family: 'Poppins';
}
.space-btw{
    justify-content: space-between;
    background-color:#f9f9f9;
    padding: 20px 10px;
}
.footer-logo-img{
    text-align: center;
    margin-top: 90px;
}
.footer-logo-img img{
    width: 180px;
}
.ul li.footer__list__item__title{
    font-weight: 700;
    font-size: 18px ;
}
.footer-img p{
    text-align: center;
    margin-top: 35px;
    color: #666666;
    
}

/*
==================
LARGE TAB
==================
*/
@media (max-width:992px){
    body{
        font-size: 11px !important;
    }
    nav ul li+li{
            margin-left: 1.8rem !important;
    
    } 
    .display{
        display: none;
    }
    .justify-sb{
        justify-content: space-between;
    }
    .sec-1-img {
        height: 470px;
    }
    /*
    ==================
    cards section
    ==================
    */
    .cards{
        height: 450px;
    }
    .card-1 {
        min-width: 240px;
        margin-left: 48px;
        margin-right: 20px;
    }
    .card-1 h5 {
        padding-top: 5rem;
        padding-right: 1.5rem;
        padding-bottom: 4rem;
        font-size: 26px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
    .card-2, .card-3 {
        min-width: 340px;
        border-radius: 10%;
        overflow: hidden;
        height: 397px;
        margin-right: 48px;
    }

    /*
    ==================
    CUSTOM-SECTION
    ==================
    */
    .main-custom-1 {
        border: 5px solid black;
        height: 415px;
        padding: 75px 45px;
        justify-content: space-between;
        margin-bottom: 70px;
        
    }
    .custom{
        margin-top: 0px;
    }
    .custom-1{
        width: 305px;
    }
    .custom-1 h1 {
        padding-bottom: 20px;
        letter-spacing: 1.5px;
        font-size: 20px;
        font-weight: 500;
        font-family: 'FontAwesome';
    }
    .custom-1 h4 {
        padding-bottom: 20px;
        font-size: 13px;
        letter-spacing: 1.5px;
        color: peru;
        font-family: 'Poppins';
    }
    .custom-1 p {
        line-height: 15px;
        font-size: 12px;
        padding-bottom: 25px;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        color: #666666;
    }

    .main-custom-2 {
        border: 5px solid black;
        height: 470px;
        padding: 75px 45px;
        justify-content: space-between;
        margin-bottom: 70px;
        margin-top: 50px;
    }
    .internal-nav {
        height: 80px;
    }

    /*
    ==================
    TOUR-SECTION
    ==================
    */
    .headings {
        width: 30%;
        padding: 38px 0px;
    }
    .headings h3 {
        font-size: 30px;
        font-weight: 100;
        font-family: 'Poppins';
        line-height: 1;
    }
    .headings h4 {
        margin-top: 20px;
    }
    .headings hr {
        width: 150px;
        height: 3px;
        background-color: #808080;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .internal-nav ul {
        padding-top: 10px;
        justify-content: space-evenly;
        font-size: 12px;
    }
    .tour {
        justify-content: space-between;
        height: 270px;
    }
    .tour-img img {
        width: 100%;
        height: 100%;
        
    }

    /*
    ==================
    FOOTER-SECTION
    ==================
    */
    .ul li:nth-child(1) a {
        margin-bottom: 20px;
        color: #666666;
        font-size: 16px;
        
    }
    .ul li {
    
        font-size: 16px;
    }
    .news-letter a {
        font-size: 16px;
        
    }
    .news-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 37%;
    }
    .input {
        font-size: 16px;
    }    
    .footer-img p{
        text-align: center;
        margin-top: 30px;
    }
    .ul li.footer__list__item__title{
        font-size: 18px ;
    }

}

/*
==================
SMALL TAB
==================
*/
@media (max-width:768px){
    body{
     font-size: 11px !important;
    }
        nav ul li+li{
            margin-left: 1.5rem !important;
    }
        .header-nav nav{
        display: none !important;
    }
    .display-block{
        display: inline;
    }
    .sec-1-img {
        background-image: url("./images/bg-img.jpg");
        height: 400px;
    }
    /*
    ==================
    TAILORING-SECTION
    ==================
    */
    .tailoring-img {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .tailoring h1{
        font-size: 22px;
        padding-bottom: 2rem;
    } 
    .tailoring h4{
        font-size: 16px;
        padding-bottom: 2rem;
    }
    /*
    ==================
    INTERNAL-SECTION
    ==================
    */
    .internal-nav ul {
        font-size: 10px;
    }
    .internal-nav {
        height: 80px;
        margin-bottom: 46px;
    }

    .card-1 {
        min-width: 241px;
        margin-left: 48px;
        margin-right: 6px;
    }
    .card-1 h5 {
        padding-top: 5rem;
        padding-right: 2.5rem;
        padding-bottom: 4rem;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
    .card-2, .card-3 {
        min-width: 265px;
        border-radius: 10%;
        overflow: hidden;
        height: 360px;
        margin-right: 55px;
    }

    /*
    ==================
    CUSTOM-SECTION
    ==================
    */
    .custom {
        margin-top: 10px;
    }
    .main-custom-1 {
        border: 5px solid black;
        height: 690px;
        padding: 30px 30px;
        justify-content: space-around;
        display: flex;
        flex-direction: column-reverse;
    }
    .custom-1 {
        width: 100%;
        text-align: center;
    }
    .custom-1 h1 {
        padding-bottom: 12px;
        letter-spacing: 1.5px;
        font-size: 24px;
        font-weight: 500;
        font-family: 'FontAwesome';
    }
    .custom-1 h4 {
        padding-bottom:20px;
    }
    .custom-1 p {
        line-height: 18px;
        font-size: 16px;
        
         
    }
    .custom-2 {
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    .custom-2 img {
        width: 74%;
        object-fit: cover;
    }
    .main-custom-2{
        border: 5px solid black;
        height: 770px;
        padding: 30px 30px;
        justify-content: space-around;
        display: flex;
        flex-direction: column-reverse;
    }
    /*
    ==================
    TOUR-SECTION
    ==================
    */

    .tour {
        justify-content: space-between;
        height: 178px;
    }
    .tour-img img {
        width: 100%;
        height: 100%;
    }

    .headings {
        width: 30%;
        padding: 32px 0px;
    }
    .headings h3 {
        font-size: 17px;
    }
    .headings h4 {
        font-size: 16px;
        margin-top: 10px;
    }
    .headings hr {
        width: 95px;
        margin-bottom: 15px;
    }
    .main-ul {
        width: 55%;
        justify-content: space-between;
    }
    .ul li {
        font-size: 12px;
    }
    .ul li a {
        color: #666666;
        font-size: 12px;
        border-bottom: solid 1px black;
    }
    .news-flex {
        width: 35%;
    }
    .news-letter p {
        font-size: 11px;
        color: #666666;
        text-align: ju;
        text-align: justify;
    }
    .input {
        font-size: 12px;
        margin-top: 16px;
        margin-bottom: 17px;
        padding-top: 16px;
        padding-bottom: 16px;
        display: block;
        width: 100%;
    }
    .news-letter a {
        font-size: 12px;
        border: 2px solid black;
        font-family: 'FontAwesome';
        padding: 10px 55px;
    }
    .footer {
        margin-top: 55px;
        margin-bottom: 55px;
    }
    .footer-logo-img {
        margin-top: 55px;
    }
    .footer-logo-img img {
        width: 145px;
    }    
    .footer-img p {
        margin-top: 45px;
        
    }
    .ul li.footer__list__item__title{
        font-size: 14px ;
    }

}


/*
==================
MOBILE-VIEW
==================
*/
@media (max-width:500px){
    body{
         font-size: 11px !important;
    }
    nav ul li+li{
            margin-left: 1.5rem !important;
    }
    .display-block{
        display: block;
    }
    .sec-1-img {
        background-image: url("./images/bg-img.jpg");
        height: 210px;
    }
    .cards {
        height: 360px !important;
    }
    .cards {
        overflow: hidden;
        padding-top: 0px;
    }
    /*
    =================
    TAILORING- SECTION
    ==================
    */
    .tailoring {
        padding-bottom: 0px;
    }
    .tailoring-img img {
        width: 40px;
    }
    .tailoring-img{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .tailoring h1 {
        font-size: 16px;
        padding-bottom: 21px;
    }
    .tailoring p {
        font-size: 11px;
        padding-bottom: 0rem;
        
    }
    .tailoring h4 {
        font-size: 10px;
        padding-bottom: 1rem;
    }
    .main-custom-1 {
        border: 5px solid black;
        height: 560px;
        padding: 18px 20px;
        justify-content: space-around;
       
        display: flex;
        flex-direction: column-reverse;
    }
    .custom-1 {
        width: 100%;
        text-align: center;
    }
    .custom-1 h1 {
        padding-bottom: 12px;
        font-size: 15px;
    }
    .custom-1 h4 {
      padding-bottom: 10px;
        font-size: 10px;
    }
    .custom-1 p {
        line-height: 16px;
        font-size: 12px;
    }
    .custom-1 a {
        font-size: 12px;
    }
    .custom-2 {
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    .custom-2 img {
        width: 74%;
        object-fit: cover;
    }
    .main-custom-2{
        border: 5px solid black;
        height: 560px;
        padding: 18px 20px;
        justify-content: space-around;
        margin-top: 5;
        display: flex;
        flex-direction: column-reverse;
    }
    /*
    =================
    INTERNAL-NAV SECTION
    ==================
    */
    .internal-nav {
        height: 45px;
        border-bottom: solid 2px #808080;
        margin-bottom: 21px;
    }
    .internal-nav hr {
        margin-top: 10px;
    }
    .internal-nav ul {
        padding-top: 0px;
        justify-content: space-evenly;
        font-size: 9px;
    }
    /*
    =================
    TOUR- SECTION
    ==================
    */

    .tour {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height:auto;
    }
    .tour-img {
        width: 100%;
        margin-bottom: 20px;
    }
    .headings {
        width: 100%;
        padding: 0px 0px;
    }
    .headings h3 {
        font-size: 23px;
        font-weight: 100;
        font-family: 'Poppins';
        line-height: 1;
        text-align: center;
    }
    .headings h4 {
        font-size: 16px;
        font-weight: 100;
        font-family: 'Poppins';
        margin-top: 15px;
        text-align: center;
    }
    .headings hr {
        margin-left: auto;
        margin-right:auto;
        width: 150px !important;
        margin-bottom: 25px;
    }
    .justify-center{
        justify-content: center;
    }
    .tour-ul{
        justify-content: center;
    }

    /*
    =================
    FOOTER- SECTION
    ==================
    */
    .footer {
        margin-top: 55px;
        margin-bottom: 40px;
    }
    .space-btw {
        display: flex;
        flex-direction: column;
    }
    .ul li a{
        font-size: 12px;
    }
    .main-ul {
        width:100%; 
        justify-content: space-evenly;
    }
    .news-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 25px;
    }
    .news-letter p {
        font-size: 14px;
    }
    .news-letter a {
        font-size: 12px;
    }
    .input {
        font-size: 14px;
        width: 270px;
    }
    .footer-logo-img {
        margin-top: 35px;
    }
    .footer-img p {
        margin-top: 25px;
    }
    .ul li.footer__list__item__title{
        font-size: 14px ;
    }
}  